@use "./reset";
@use "./var" as *;

// フォント
* {
  font-feature-settings: "palt";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.6;
  color: $colorClasimazuNavy;
}

main {
  position: relative;
}

/* ===============================================
     aタグ
  =============================================== */
a {
  cursor: pointer;
  text-decoration: none;
}

/* ===============================================
     セクション
  =============================================== */

/* ===============================================
     セクションタイトル
  =============================================== */
.sectionTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  .sectionTitleEnglish {
    font-size: 14px;
    font-weight: 600;
  }

  .sectionTitleJapanese {
    font-size: 32px;
    font-weight: 600;
  }

  @media screen and (max-width: $tabletBreakPoint) {
    gap: 2px;

    .sectionTitleJapanese {
      font-size: 24px;
    }
  }
}

/* ===============================================
     ページタイトル
  =============================================== */

/* ===============================================
       ボタン
  =============================================== */
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 50vh;
  background-color: $colorClasimazuNavy;
  border: 1px solid $colorClasimazuNavy;
  transition: all 0.3s linear;

  span:first-child {
    font-weight: 600;
    color: $colorWhite;
    transition: all 0.3s linear;
  }

  span:last-child {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorWhite;
    font-size: 12px;
    font-weight: 800;
    color: $colorClasimazuRed;
    transition: all 0.3s linear;
  }

  &.button200 {
    width: 200px;
    height: 48px;

    span:first-child {
      font-size: 14px;
    }
  }

  &.button208 {
    width: 208px;
    height: 64px;

    span:first-child {
      font-size: 18px;
    }
  }

  &.button328 {
    width: 328px;
    height: 72px;

    span:first-child {
      font-size: 18px;
    }
  }

  &:hover {
    background-color: $colorWhite;

    span:first-child {
      color: $colorClasimazuNavy;
    }

    span:last-child {
      background-color: $colorClasimazuNavy;
      color: $colorWhite;
    }
  }
}

/* ===============================================
       改行
  =============================================== */
.spBr {
  display: none;

  @media screen and (width <= 480px) {
    display: inline;
  }
}

/* ===============================================
       グローバルナビゲーション
  =============================================== */

/* ===============================================
   *  色変更
   =============================================== */
.textRed {
  color: $colorClasimazuRed;
}

/* ===============================================
   *  フォントウェイト変更
  =============================================== */
.fontWeightSemiBold {
  font-weight: 600;
}
.fontWeightBold {
  font-weight: 600;
}

/* ===============================================
   *  デバイスサイズに応じた表示切り替え
  =============================================== */
.pcOnly {
  @media screen and (max-width: $tabletBreakPoint) {
    display: none;
  }
}

.spOnly {
  @media screen and (min-width: $tabletBreakPoint) {
    display: none;
  }
}

/* ===============================================
       サブページヘッダー
  =============================================== */
.subPageHeader {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 442px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .subPageHeaderTitle {
    z-index: 1;
    position: absolute;
    top: 58%;
    left: calc((100% - 1040px) / 2);
    transform: translateY(-50%);

    .subPageHeaderTitleJapanese {
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
    }

    .subPageHeaderTitleEnglish {
      margin-top: 12px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      color: $colorClasimazuRed;
    }
  }

  .pageTopButton {
    z-index: 1;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 128px;
    height: 128px;
    opacity: 0;
    transition: opacity 0.3s linear, scale 0.5s $easeInOutQuint;

    &.scrolled {
      opacity: 1;
    }

    &:hover {
      scale: 1.1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media screen and (max-width: $tabletBreakPoint) {
    width: 100%;
    height: 240px;

    .subPageHeaderTitle {
      left: 50%;
      transform: translate(-50%, -45%);
      margin-inline: auto;
      width: calc(100% - 40px);
      max-width: 295px;

      .subPageHeaderTitleEnglish {
        font-size: 32px;
        line-height: 1.3;
        left: 0;
      }

      .subPageHeaderTitleJapanese {
        margin-top: 8px;
        font-size: 18px;
        font-weight: 400;
      }
    }

    .pageTopButton {
      height: 72px;
      width: 72px;

      &.scrolled {
        bottom: 16px;
        right: 16px;
      }
    }
  }
}

/* ===============================================
 *  下層ページのインナー
 =============================================== */
.inner1040 {
  margin-inline: auto;
  width: 100%;
  max-width: 1040px;
  width: calc(100% - 40px);

  @media screen and (max-width: $tabletBreakPoint) {
    margin-inline: auto;
    width: calc(100% - 40px);
  }
}

/* ===============================================
 *  CTAコンポーネント
 =============================================== */
.ctaComponent {
  padding-block: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  a {
    margin: 0 !important;
  }

  @media screen and (max-width: $tabletBreakPoint) {
    padding-block: 40px;
    flex-direction: column;
    gap: 16px;
  }
}

/* ===============================================
 *  お問い合わせコンポーネント
 =============================================== */
// お問い合わせ
#contact {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: $colorCsBackground;
  line-height: 1;

  img {
    width: 64px;
    height: 64px;
    aspect-ratio: 1;
  }

  .contactCta {
    font-size: 16px;
    font-weight: 700;
  }

  .contactTel {
    font-family: "Futura", sans-serif;
    font-size: 32px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $colorClasimazuRed;
    }
  }

  .contactBusinessHours {
    font-size: 14px;
  }
}

/* ===============================================
 *  戻るボタン
 =============================================== */
.backButton {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
  padding: 12px 32px;
  border-radius: 50vh;
  width: fit-content;
  background: $colorWhite;
  transition: all 0.5s ease;

  p {
    font-weight: 500;
    font-size: 20px;
    transition: all 0.5s ease;
  }

  @media screen and (max-width: $tabletBreakPoint) {
    margin-top: 40px;
  }

  &:hover {
    background: $colorClasimazuNavy;

    p {
      color: $colorWhite;
    }

    .arrow32 {
      background: $colorWhite;
      color: $colorClasimazuNavy;
    }
  }
}

.arrow32 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid;
  font-size: 12px;
  background: $colorClasimazuNavy;
  color: $colorWhite;
  transition: all 0.5s ease;

  &.red {
    background: $colorClasimazuRed;
    color: $colorWhite;
  }
}

/* ===============================================
 *  ページネーション
 =============================================== */
.pagination {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 80px;

  .page-numbers {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: $colorClasimazuGray2;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $colorClasimazuNavy;
    }

    &.current {
      color: $colorClasimazuNavy;
    }

    &.prev,
    &.next {
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: $colorClasimazuNavy;
      color: $colorWhite;
      font-size: 12px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $colorClasimazuRed;
      }
    }

    &.prev {
      margin-right: 16px;
    }

    &.next {
      margin-left: 16px;
    }
  }

  @media screen and (max-width: $tabletBreakPoint) {
    margin-top: 40px;

    .page-numbers {
      font-size: 16px;
    }
  }
}

/* ===============================================
 *  デコレーションシェイプのクリックイベントを無効化
 =============================================== */
.decoShape {
  pointer-events: none;
}

/* ===============================================
 *  about-usのlinksをコンポーネント
 =============================================== */
#aboutUs {
  position: relative;
  width: 100%;

  .aboutUsInner {
    max-width: 1040px;
    margin-inline: auto;
    padding-block: 80px;

    .sectionTitleWrapper {
      .sectionTitleJapanese {
        span:last-child {
          font-weight: 700;
        }
      }
    }

    .aboutUsLinks {
      position: relative;
      width: 100%;
      max-width: calc(100% - 40px);
      margin-inline: auto;

      img:first-child {
        width: 100%;
        height: auto;
      }

      .aboutUsLinkItem {
        position: absolute;
        width: 10vw;
        height: 10vw;
        max-width: 120px;
        max-height: 120px;
        transform: translate(-50%, -50%);
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-child(2) {
          top: 28%;
          left: 50%;
        }
        &:nth-child(3) {
          top: 36%;
          left: 67%;
        }
        &:nth-child(4) {
          top: 54%;
          left: 75%;
        }
        &:nth-child(5) {
          top: 73%;
          left: 68%;
        }
        &:nth-child(6) {
          top: 73%;
          left: 32%;
        }
        &:nth-child(7) {
          top: 54%;
          left: 25%;
        }
        &:nth-child(8) {
          top: 36%;
          left: 33%;
        }

        &:hover {
          opacity: 0.8;
          transform: translate(-50%, -50%) scale(1.05);
        }
      }
    }

    .button {
      margin-top: 40px;
      margin-inline: auto;
    }
  }

  .aboutUsShape1 {
    width: 538px;
    height: 443px;
    position: absolute;
    top: 120px;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .aboutUsShape2 {
    width: 538px;
    height: 534px;
    position: absolute;
    bottom: -120px;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: $tabletBreakPoint) {
    .aboutUsInner {
      max-width: 100%;
      padding-block: 40px;
      padding-inline: 20px;

      .aboutUsLinksSpOnly {
        .aboutUsLinksLogo {
          margin-top: 56px;
          width: 201px;
          height: 124px;
          margin-inline: auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .aboutUsLinksInner {
          position: relative;
          margin-inline: auto;
          padding-top: 80px;
          max-width: 380px;

          .baseImage {
            display: block;
            width: calc(100% - 40px);
            max-width: 340px;
            margin-inline: auto;
            height: 100%;
            object-fit: cover;
          }

          .aboutUsLinkItem {
            position: absolute;
            width: 20vw;
            height: 20vw;
            max-width: 84px;
            max-height: 84px;
            transform: translate(-50%, -50%);
            aspect-ratio: 1/1;
            border-radius: 50%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &:nth-child(2) {
              top: 27%;
              left: 50%;
            }
            &:nth-child(3) {
              top: 37%;
              left: 77%;
            }
            &:nth-child(4) {
              top: 60%;
              left: 89%;
            }
            &:nth-child(5) {
              top: 86%;
              left: 79%;
            }
            &:nth-child(6) {
              top: 86%;
              left: 21%;
            }
            &:nth-child(7) {
              top: 60%;
              left: 12%;
            }
            &:nth-child(8) {
              top: 37%;
              left: 23%;
            }

            &:hover {
              opacity: 0.8;
              transform: translate(-50%, -50%) scale(1.05);
            }
          }
        }

        .aboutUsLinksList {
          position: relative;
          margin-top: 56px;
          display: flex;
          flex-direction: column;

          .aboutUsLinksItem {
            display: flex;
            justify-content: space-between;
            gap: 24px;

            &:not(:first-child) {
              padding-top: 48px;
            }

            .aboutUsLinksItemIcon {
              flex-shrink: 0;
              width: 120px;
              height: 120px;
              border-radius: 50%;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .aboutUsLinksItemRight {
              flex: 1;

              .aboutUsLinksItemTitle {
                margin-bottom: 16px;
                padding-bottom: 16px;
                border-bottom: 1px solid #049fbd;
                display: flex;
                align-items: center;
                gap: 12px;

                .aboutUsLinksItemTitleIcon {
                  height: 26px;
                  width: fit-content;
                }

                .aboutUsLinksItemTitleText {
                  font-size: 14px;
                  font-weight: 700;
                }
              }

              .aboutUsLinksItemList {
                display: flex;
                flex-direction: column;
                gap: 16px;

                li {
                  line-height: 1.6;
                  font-size: 14px;
                  display: flex;

                  &::before {
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: #049fbd;
                    margin-right: 8px;
                    transform: translateY(6px);
                  }
                }
              }
            }

            // 各項目のカラー変更
            &:nth-child(2) {
              li::before {
                background: #b02921 !important;
              }

              .aboutUsLinksItemTitle {
                border-bottom: 1px solid #b02921;
              }
            }
            &:nth-child(3) {
              li::before {
                background: #e57e3a !important;
              }

              .aboutUsLinksItemTitle {
                border-bottom: 1px solid #e57e3a;
              }
            }
            &:nth-child(4) {
              li::before {
                background: #7a5f51 !important;
              }

              .aboutUsLinksItemTitle {
                border-bottom: 1px solid #7a5f51;
              }
            }
            &:nth-child(5) {
              li::before {
                background: #3a4da5 !important;
              }

              .aboutUsLinksItemTitle {
                border-bottom: 1px solid #3a4da5;
              }
            }
            &:nth-child(6) {
              li::before {
                background: #84929c !important;
              }

              .aboutUsLinksItemTitle {
                border-bottom: 1px solid #84929c;
              }
            }
            &:nth-child(7) {
              li::before {
                background: #3d8068 !important;
              }

              .aboutUsLinksItemTitle {
                border-bottom: 1px solid #3d8068;
              }
            }
          }

          &::before {
            z-index: -1;
            position: absolute;
            left: 60px;
            transform: translateX(-50%);
            content: "";
            display: block;
            width: 8px;
            height: calc(100% - 40px);
            background: $colorClasimazuGray2;
          }
        }
      }
    }
  }
}

/* ===============================================
 *  ふわっと出てくるアニメーション
 =============================================== */
.animate {
  opacity: 0;
  transform: translateY(50px);
}

.isFadeIn {
  animation: fadeIn 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===============================================
 *  明朝
 =============================================== */
.mincho {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
}

/* ===============================================
 *  一時的に非表示
 =============================================== */
.temporaryHidden {
  display: none;
}
