@use "./reset";
@use "./var" as *;

// フォント
* {
  font-feature-settings: "palt";
}

body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.6;
  color: $colorClasimazuNavy;
}

main {
  position: relative;
}

/* ===============================================
     aタグ
  =============================================== */
a {
  cursor: pointer;
  text-decoration: none;
}

/* ===============================================
     セクション
  =============================================== */

/* ===============================================
     セクションタイトル
  =============================================== */
.sectionTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  .sectionTitleEnglish {
    font-size: 14px;
    font-weight: 600;
  }
}

.sectionTitleJapanese {
  font-size: 32px;
  font-weight: 600;
}

/* ===============================================
     ページタイトル
  =============================================== */

/* ===============================================
       ボタン
  =============================================== */
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 50vh;
  background-color: $colorClasimazuNavy;
  border: 1px solid $colorClasimazuNavy;
  transition: all 0.3s linear;

  span:first-child {
    font-weight: 600;
    color: $colorWhite;
    transition: all 0.3s linear;
  }

  span:last-child {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorWhite;
    font-size: 12px;
    font-weight: 800;
    color: $colorClasimazuRed;
    transition: all 0.3s linear;
  }

  &.button200 {
    width: 200px;
    height: 48px;

    span:first-child {
      font-size: 14px;
    }
  }

  &.button208 {
    width: 208px;
    height: 64px;

    span:first-child {
      font-size: 18px;
    }
  }

  &.button328 {
    width: 328px;
    height: 72px;

    span:first-child {
      font-size: 18px;
    }
  }

  &:hover {
    background-color: $colorWhite;

    span:first-child {
      color: $colorClasimazuNavy;
    }

    span:last-child {
      background-color: $colorClasimazuNavy;
      color: $colorWhite;
    }
  }
}

/* ===============================================
       改行
  =============================================== */
.spBr {
  display: none;

  @media screen and (width <= 480px) {
    display: inline;
  }
}

/* ===============================================
       グローバルナビゲーション
  =============================================== */

/* ===============================================
   *  色変更
   =============================================== */
.TextRed {
  color: $colorClasimazuRed;
}

/* ===============================================
   *  フォントウェイト変更
  =============================================== */
.fontWeightSemiBold {
  font-weight: 600;
}
.fontWeightBold {
  font-weight: 600;
}

/* ===============================================
   *  デバイスサイズに応じた表示切り替え
  =============================================== */
.pcOnly {
  @media screen and (max-width: $tabletBreakPoint) {
    display: none;
  }
}

.spOnly {
  @media screen and (min-width: $tabletBreakPoint) {
    display: none;
  }
}

/* ===============================================
       サブページヘッダー
  =============================================== */
.subPageHeader {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 442px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .subPageHeaderTitle {
    z-index: 1;
    position: absolute;
    top: 58%;
    left: calc((100% - 1040px) / 2);
    transform: translateY(-50%);

    .subPageHeaderTitleJapanese {
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
    }

    .subPageHeaderTitleEnglish {
      margin-top: 12px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      color: $colorClasimazuRed;
    }
  }

  .pageTopButton {
    z-index: 1;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 128px;
    height: 128px;
    opacity: 0;
    transition: opacity 0.3s linear, scale 0.5s $easeInOutQuint;

    &.scrolled {
      opacity: 1;
    }

    &:hover {
      scale: 1.1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media screen and (max-width: $tabletBreakPoint) {
    width: 100%;
    height: 240px;

    .subPageHeaderTitle {
      left: 50%;
      transform: translate(-50%, -45%);
      margin-inline: auto;
      width: calc(100% - 40px);
      max-width: 295px;

      .subPageHeaderTitleEnglish {
        font-size: 32px;
        line-height: 1.3;
        left: 0;
      }

      .subPageHeaderTitleJapanese {
        margin-top: 8px;
        font-size: 18px;
        font-weight: 400;
      }
    }

    .pageTopButton {
      height: 72px;
      width: 72px;

      &.scrolled {
        bottom: 16px;
        right: 16px;
      }
    }
  }
}

/* ===============================================
 *  下層ページのインナー
 =============================================== */
.inner1040 {
  margin-inline: auto;
  width: 100%;
  max-width: 1040px;
  width: calc(100% - 40px);

  @media screen and (max-width: $tabletBreakPoint) {
    margin-inline: auto;
    width: calc(100% - 40px);
  }
}

/* ===============================================
 *  CTAコンポーネント
 =============================================== */
.ctaComponent {
  padding-block: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  a {
    margin: 0 !important;
  }

  @media screen and (max-width: $tabletBreakPoint) {
    padding-block: 40px;
    flex-direction: column;
    gap: 16px;
  }
}

/* ===============================================
 *  お問い合わせコンポーネント
 =============================================== */
// お問い合わせ
#contact {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: $colorCsBackground;
  line-height: 1;

  img {
    width: 64px;
    height: 64px;
    aspect-ratio: 1;
  }

  .contactCta {
    font-size: 16px;
    font-weight: 700;
  }

  .contactTel {
    font-family: "Futura", sans-serif;
    font-size: 32px;
    font-weight: 500;
  }

  .contactBusinessHours {
    font-size: 14px;
  }
}

/* ===============================================
 *  戻るボタン
 =============================================== */
.backButton {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
  padding: 12px 32px;
  border-radius: 50vh;
  width: fit-content;

  p {
    font-weight: 500;
    font-size: 20px;
  }

  @media screen and (max-width: $tabletBreakPoint) {
    margin-top: 40px;
  }
}

.arrow32 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid;
  font-size: 12px;
  background: $colorClasimazuNavy;
  color: $colorWhite;
}

/* ===============================================
 *  ページネーション
 =============================================== */
.pagination {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 80px;

  .page-numbers {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: $colorClasimazuGray2;

    &.current {
      color: $colorClasimazuNavy;
    }

    &.prev,
    &.next {
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: $colorClasimazuNavy;
      color: $colorWhite;
      font-size: 12px;
    }

    &.prev {
      margin-right: 16px;
    }

    &.next {
      margin-left: 16px;
    }
  }

  @media screen and (max-width: $tabletBreakPoint) {
    margin-top: 40px;

    .page-numbers {
      font-size: 16px;
    }
  }
}
