@use "../reset";
@use "../var" as *;

// 入力ページ

.page-id-21 {
  .formPageInner {
    margin-top: 80px;

    .wpcf7-form {
      display: flex;
      flex-direction: column;

      .formBlock {
        display: flex;
        gap: 16px;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $colorClasimazuGray3;

        &:nth-child(14) {
          // 最後の項目
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }

        .formLabel {
          flex-shrink: 0;
          width: 180px;
          font-size: 16px;
          font-weight: 700;

          P {
            display: inline;
          }
        }

        p:has(.wpcf7-form-control-wrap) {
          display: block;
          width: 100%;
        }

        .wpcf7-form-control-wrap {
          display: block;
          width: 100%;
        }

        input[type="text"],
        input[type="textbox"],
        input[type="tel"],
        input[type="email"],
        textarea,
        select {
          width: 100%;
          height: 80px;
          border-radius: 8px;
          padding-inline: 32px;
          background: $colorClasimazuGray3;
          display: flex;
          align-items: center;
        }

        textarea {
          height: 234px;
          padding: 20px;
        }

        select {
          width: 342px;
        }

        input[placeholder="例）6830009"] {
          // 郵便番号を無理やり選択
          width: 342px;
        }

        .wpcf7-radio {
          display: flex;
          align-items: center;
          gap: 24px;

          .wpcf7-list-item {
            margin-inline: 0;

            label {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              gap: 8px;

              input {
                position: relative;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 1px solid $colorClasimazuGray2;

                &:checked {
                  &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $colorClasimazuRed;
                  }
                }
              }
            }
          }
        }

        .wpcf7-checkbox {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 24px;

          .wpcf7-list-item {
            margin-inline: 0;

            label {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              gap: 8px;

              input {
                position: relative;
                width: 16px;
                height: 16px;
                border: 1px solid $colorClasimazuGray2;
                border-radius: 4px;

                &:checked {
                  &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 2px;
                    background-color: $colorClasimazuRed;
                  }
                }
              }
            }
          }
        }

        .wpcf7-list-item label,
        input[type="checkbox"],
        input[type="radio"],
        select {
          cursor: pointer;
        }

        &.age {
          .wpcf7-form-control-wrap {
            position: relative;

            &::after {
              content: "↓";
              position: absolute;
              top: 50%;
              left: 310px;
              transform: translate(-100%, -50%);
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid $colorClasimazuGray2;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              color: $colorClasimazuGray2;
            }
          }
        }
      }

      .submitWrapper {
        position: relative;
        width: 268px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        border-radius: 50vh;
        background-color: $colorClasimazuNavy;
        border: 1px solid $colorClasimazuNavy;
        transition: all 0.3s linear;

        .buttonCopy {
          color: $colorWhite;
        }

        .buttonArrow {
          br {
            display: none;
          }
        }

        p:nth-child(3) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }

        &.button200 {
          width: 200px;
          height: 48px;

          span:first-child {
            font-size: 14px;
          }
        }

        &.button208 {
          width: 208px;
          height: 64px;

          span:first-child {
            font-size: 18px;
          }
        }

        &.button328 {
          width: 328px;
          height: 72px;

          span:first-child {
            font-size: 18px;
          }
        }

        &:hover {
          background-color: $colorWhite;

          .buttonCopy {
            color: $colorClasimazuNavy;
          }

          .buttonArrow {
            background-color: $colorClasimazuNavy;
            color: $colorWhite;
            border-radius: 50%;
          }
        }
      }

      &.invalid .wpcf7-response-output {
        border: none;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: $tabletBreakPoint) {
    .formPageInner {
      margin-top: 32px;

      .wpcf7-form {
        .formBlock {
          flex-direction: column;
          gap: 16px;

          .formLabel {
            width: 100%;
          }

          .wpcf7-form-control-wrap {
            width: 100%;
          }

          input[type="text"],
          input[type="textbox"],
          input[type="tel"],
          input[type="email"],
          textarea,
          select {
            height: 48px;
            padding-inline: 16px;
            font-size: 14px;
          }

          select {
            width: 184px;
          }

          textarea {
            height: 200px;
          }

          .wpcf7-radio {
            flex-direction: column;
            align-items: start;
            gap: 12px;
          }

          .wpcf7-checkbox {
            row-gap: 12px;
          }

          &.age {
            .wpcf7-form-control-wrap {
              &::after {
                left: 168px;
              }
            }
          }
        }
        .submitWrapper {
          margin-top: 16px;
        }
      }
    }
  }
}

// 確認画面
.page-id-27 {
  .formConfirmPageInner {
    padding-top: 80px;
    height: auto;

    .wpcf7-form {
      .contactConfirmRow {
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid $colorClasimazuGray3;
        display: flex;
        align-items: center;
        gap: 40px;

        br {
          display: none;
        }

        .contactConfirmRowTitle {
          width: 240px;
          font-size: 16px;
          font-weight: 600;
        }

        .contactConfirmRowValue {
          width: calc(100% - 240px);
        }
      }
    }
    .submitWrapper {
      position: relative;
      width: 268px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 24px;
      border-radius: 50vh;
      background-color: $colorClasimazuNavy;
      border: 1px solid $colorClasimazuNavy;
      transition: all 0.3s linear;

      .buttonCopy {
        color: $colorWhite;
      }

      .buttonArrow {
        br {
          display: none;
        }
      }

      p:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      &.button200 {
        width: 200px;
        height: 48px;

        span:first-child {
          font-size: 14px;
        }
      }

      &.button208 {
        width: 208px;
        height: 64px;

        span:first-child {
          font-size: 18px;
        }
      }

      &.button328 {
        width: 328px;
        height: 72px;

        span:first-child {
          font-size: 18px;
        }
      }

      &:hover {
        background-color: $colorWhite;

        .buttonCopy {
          color: $colorClasimazuNavy;
        }

        .buttonArrow {
          background-color: $colorClasimazuNavy;
          color: $colorWhite;
          border-radius: 50%;
        }
      }
    }
  }

  @media screen and (max-width: $tabletBreakPoint) {
    .formConfirmPageInner {
      padding-top: 48px;

      .wpcf7-form {
        .contactConfirmRow {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-bottom: 16px;
          padding-bottom: 16px;

          .contactConfirmRowTitle {
            width: 100%;
            font-size: 16px;
            font-weight: 600;
          }

          .contactConfirmRowValue {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .submitWrapper {
          margin-top: 32px;
        }
      }
    }
  }
}

/*
  共通
=============================================== */
.submitWrapper {
  margin-top: 80px;
  margin-inline: auto;
  position: relative;

  .buttonCopy {
    font-size: 18px;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.wpcf7-spinner {
  display: none;
}

.required {
  &::after {
    content: "*";
    margin-left: 4px;
    font-size: 16px;
    color: $colorClasimazuRed;

    @media screen and (max-width: $tabletBreakPoint) {
      margin-left: 4px;
    }
  }
}
