@use "../reset";
@use "../var" as *;

.page-id-53 {
  .sitemapInner {
    max-width: 700px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .sitemapNavItem {
      font-size: 18px;
      font-weight: 700;
      color: $colorClasimazuNavy;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }

    @media screen and (max-width: $tabletBreakPoint) {
      padding-top: 40px;
    }
  }
}
